@font-face {
  font-family: 'Boldonse';
  src: url('font/Boldonse-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('font/Comfortaa-Regular.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

body {
    font-family: Comfortaa, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-height: 100px;
}

header {
    margin: 0;
    padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

header img {
    margin: 0;
    max-width: 200px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
}

.logo img {
    max-width: 150px; 
}

.nav_liens {
    list-style: none;
    gap: 20px;
}

.nav_liens li {
    display: inline;
}

nav a img {
    max-width: 40px;
    margin: 0;
    padding: 0;
}

.nav_liens a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 12px;
}

.nav_liens a:hover {
    background-color: #9f9b9b;
    border-radius: 5px;
}

h1 {
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: clamp(400px, 2rem, 600px);
    grid-gap: 0;
    margin: 80px;
}

.parent div {
    width: 100%;
    height: 100%;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
    background-image: url(img/Melis_mathieu_clean_2.webp);
    background-position: center;
    background-size: cover;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(img/Still_WIP.jpg);
    background-position: center;
    background-size: cover;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(img/Mushroom_WIP.jpg);
    background-position: center;
    background-size: cover;
}

.div4 {
    grid-area: 3 / 1 / 4 / 3;
    background-image: url(img/DeadBull.webp);
    background-position: center;
    background-size: cover;
}

.div5 {
    grid-area: 4 / 1 / 5 / 2;
    background-image: url(img/kinetic.webp);
    background-position: center;
    background-size: cover;
}

.div6 {
    grid-area: 4 / 2 / 5 / 3;
    background-image: url(img/ProjetZ.png);
    background-position: center;
    background-size: cover;
}

.div7 {
    grid-area: 5 / 1 / 6 / 3;
    background-image: url(img/bungalow.webp);
    background-position: center;
    background-size: cover;
}

.div8 {
    grid-area: 6 / 1 / 7 / 2;
    background-image: url(img/dragonbeer.webp);
    background-position: center;
    background-size: cover;
}

.div9 {
    grid-area: 6 / 2 / 7 / 3;
    background-image: url(img/magazine\ copie.webp);
    background-position: center;
    background-size: cover;
}

.div10 {
    grid-area: 7 / 1 / 8 / 3;
    background-image: url(img/affiche.jpg);
    background-position: center;
    background-size: cover;
}

.parent div > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
    color: #f4f4f4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    text-transform: uppercase;
    font-family: "Boldonse", sans-serif;
}

.parent div:hover > a {
    opacity: 1;
    visibility: visible;
}


.titres {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.about {
    display: flex;
    justify-content: center;
    font-family: "Comfortaa";
    font-size: 35px; 
    font-weight: bold;
    padding: 10vh 20vw;
}

footer {
    background-color: #fff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    max-width: 100vw;
}

#milieu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#main_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 70px;
}

.contact-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form label {
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form span {
    font-size: 14px;
    color: black;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.contact-form button {
    padding: 10px;
    background: none;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
    align-self: center;
    width: 150px;
}

.contact-form button:hover {
    background-color: black;
    color: white;
}

#body_contact {
    height: 100vh;
}

h3 {
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

#milieu section p {
    padding: 40px;
}

#body_apropos main section p {
    text-align: center;
    padding: 5vw 15vw;
    font-size: 20px;
    line-height: 1.5;
}

#body_apropos footer {
    position: fixed;
    width: 100%;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  .burger {
    display: flex;
  }

  .nav_liens {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 30px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .nav_liens li {
    display: block;
    margin: 10px 0;
  }

  .nav_liens a {
    color: black;
    font-size: 18px;
  }

  .nav_liens.active {
    display: flex;
  }

  .parent {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
  }

  .parent div {
    height: 300px;
  }

  .about {
    font-size: 25px;
    padding: 5vh 8vw;
  }

  .logo img {
    max-width: 100px; 
  }

  #body_apropos footer {
    position: sticky;
    width: 100%;
  }

  h3 {
    padding: 0px;
    margin: 0;
  }

  .contact-container {
    width: 90%;
  }
    
  .contact-form {
    width: 95%;
  }
}
